.logo {
  transition: color 0.1s linear;
}

.logo a {
  display: inline-block;
}

.logo h1 {
  margin: 0;

  font-family: @font-main;
  font-size: 48px;
  font-weight: 800;
  line-height: 80px;
  text-transform: uppercase;
}

.logo--header {
  margin-left: 60px;

  color: @main-text-color;
}

.logo--header a {

  color: @main-text-color;

  &:hover {
    color: @main-text-color--light;
  }

  &:active {
    color: @main-text-color--lighter;
  }

}

.logo--footer {
  color: @color-yellow;
}

.logo--footer a {
  color: @color-yellow;

  &:hover {
    color: @color-yellow-dark;
  }

  &:active {
    color: fade(@color-yellow-dark, 30%);
  }
}
